node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Logs
*.log

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# Uploads
static/uploads/*
!static/uploads/.gitkeep

# Puppeteer
puppeteer-profile/

qa_tools

*.zip